<section ng-controller="QuizzesController">
  <div class="page-header">
    <h1>New Quiz</h1>
  </div>
  <div class="col-md-12">
    <form name="quizForm" class="form-horizontal" ng-submit="create(quizForm.$valid)" novalidate>
     <fieldset>
       <div class="form-group">
         <label for="quizType">Quiz Type</label>
         <div>
           <button type="button" class="btn btn-primary" ng-click="setQuizOptionVisibility(true)" name="quizType" id="quizType">Multiple Choice</button>
           <button type="button" class="btn btn-primary" ng-click="setQuizOptionVisibility(false)" name="quizType" id="quizType">Attendence</button>
           <h1>

           </h1>
         </div>
         </div>


        <div class="form-group" ng-if="showQuizOption" show-errors>
          <label for="title">Title</label>
          <input name="title" type="text" ng-model="title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="quizForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required"> Quiz title is required.</p>
          </div>
        </div>
        <div class="form-group" ng-if="showQuizOption">
          <label for="question">Question</label>
          <input name="question" ng-model="question" id="question" class="form-control" cols="30" rows="10" placeholder="question" required>
        </div>

        <div class="form-group" ng-repeat="choice in choices" ng-if="showQuizOption">
          <label for="choiceIn" ng-show="$first">Choices</label>
          <label>{{choice.letter}}</label>
          <input type="text" id="choiceIn" name="choiceIn" class="form-control col-md-4" ng-model="choice.description" placeHolder="please enter a new choice" required>

          <div>
            <button type="button" ng-show="$last" ng-click="addChoice()" class="btn btn-primary">Add a new choice</button>
            <button type="button" ng-show="$last" ng-click="deleteChoice()" class="btn btn-primary">delete choice</button>
          </div>
        </div>


       <div class="form-group" ng-repeat="choice in choices" ng-if="showQuizOption">
         <label for="answer" ng-show="$first">Correct Answer</label>
         <div>
           <input type="radio" ng-model="$parent.correctAnswer" value="{{choice.letter}}" name="answer" id="answer"> <!-- ng-repeat create a child scope, so you have to bind to the $parent -->
           {{choice.letter}}
         </div>
       </div>
       <!-- TODO: make radio button selection required input -->

       <div class="form-group" ng-if="showQuizOption">
         <label for="durationOption">Quiz Duration</label>
         <div>
           <button type="button" class="btn btn-primary" ng-click="setDurationVisibility(true)" name="durationOption" id="durationOption">Pick a quiz duration</button>
           <button type="button" class="btn btn-primary" ng-click="setDurationVisibility(false)" name="durationOption" id="durationOption">Manually end quiz</button>
           <h1>

           </h1>
         </div>

         <div ng-if="showDuration">
           <label>Please select a desired quiz duration</label>
           <p>


           </p>
           <div>
             <label for="quizMin">Select Minute</label>
             <select ng-model="inputMin" data-ng-options="min for min in quizMin" name="quizMin" id="quizMin">
               <option value="">-- choose minute --</option>
             </select>
             <label for="quizSec">Select Second</label>
             <select ng-model="inputSec" data-ng-options="sec for sec in quizSec" name="quizSec" id="quizSec">
               <option value="">-- choose second --</option>
             </select>
           </div>

           <!-- TODO: make this a slider later -->
         </div>
       </div>


        <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
