<section ng-controller="QuizzesController">
    <!-- BASIC FORM ELELEMNTS -->
    <div class="row mt">
        <div class="col-lg-12">
            <div class="form-panel">
                <div class="page-header centered">
                    <h1>New Quiz</h1>
                </div>

                <form class="form-horizontal style-form" name="attendenceQuizForm" ng-submit="create(attendenceQuizForm.$valid, true)" novalidate>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label"> select quiz type </label>
                            <div class="col-sm-10">
                                <button id="multiple" type="button" class="btn btn-primary external-event" ng-click="showQuizOption = true; click = true" name="quizType" id="quizType" style="width:300px">Multiple Choice</button>
                                <button id="attendance" type="button" class="btn btn-primary external-event" ng-click="showQuizOption = false; click = true" name="quizType" id="quizType" style="width:300px">Attendence</button>
                            </div>
                           <!--  <label for="quizType">Quiz Type</label>
                            <div>
                              <button type="button" class="btn btn-primary" ng-click="showQuizOption = true" name="quizType" id="quizType">Multiple Choice</button>
                              <button type="button" class="btn btn-primary" ng-click="showQuizOption = false" name="quizType" id="quizType">Attendence</button>
                              <h1>

                              </h1>
                            </div> -->
                        </div>
                        <!-- <div ng-show="error && !showQuizOption" class="text-center text-danger">
                            <strong ng-bind="error"></strong>
                        </div> -->
                        <div class="form-group" ng-show="!showQuizOption">
                            <div class="col-sm-12 text-center">
                                <button type="submit1" class="btn btn-theme btn-lg" ng-disabled="!click">
                                    <i class="fa fa-check"></i> submit
                                </button>
                            </div>
                        </div>

                </fieldset>


                </form>



                <form class="form-horizontal style-form" name="quizForm" ng-submit="create(quizForm.$valid, false)" ng-show="showQuizOption" novalidate>
                    <fieldset>
                        <div class="form-group" show-errors>
                            <label class="col-sm-2 col-sm-2 control-label">Title</label>
                            <div class="col-sm-10">
                                 <input name="title" type="text" ng-model="title" id="title" class="form-control" placeholder="Title" required>
                                <div ng-messages="quizForm.title.$error" role="alert">
                                    <p class="help-block error-text" ng-message="required"> Quiz title is required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" show-errors>
                            <label class="col-sm-2 col-sm-2 control-label">Question</label>
                            <div class="col-sm-10">
                                <input name="question" ng-model="question" id="question" class="form-control" cols="30" rows="10" placeholder="question" required>
                                <div ng-messages="quizForm.question.$error" role="alert">
                                    <p class="help-block error-text" ng-message="required"> Quiz question is required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" show-errors>
                            <div ng-repeat="choice in choices">
                                <label class="col-sm-12 col-sm-12 control-label" for="choiceIn" ng-show="$first">Choices: </label>
                                <label class="col-sm-2 col-sm-2 control-label" style="text-align: center">  {{choice.letter}}</label>
                                <div class="col-sm-10" >
                                    <input type="text" id="choiceIn" name="choiceIn" class="form-control" ng-model="choice.description" placeholder="please enter a new choice" required>
                                    <div ng-messages="quizForm.choiceIn.$error" role="alert">
                                    <span class="help-block error-text" ng-message="required"> Quiz choice is required.</span>
                                </div>
                                </div>
                                <div class="col-sm-2 col-sm-2 "></div>
                                <div class="col-sm-10">
                                    </br>
                                    <button type="button" ng-show="$last" ng-click="addChoice()" style="width:200px" class="btn btn-primary">Add a new choice</button>
                                    <button type="button" ng-show="$last" ng-click="deleteChoice()" style="width:200px" class="btn btn-primary">delete choice</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" show-errors>
                            <label class="col-sm-2 col-sm-2 control-label" >Correct Answer</label>
                            <div class="col-sm-10">
                                <div class="radio" >
                                    <label class="radio-inline" ng-repeat="choice in choices">
                                        <input type="radio" ng-model="$parent.correctAnswer" value="{{choice.letter}}" name="answer" id="answer" checked>
                                        {{choice.letter}}
                                        <div ng-messages="quizForm.answer.$error" role="alert">
                                    <p class="help-block error-text" ng-message="required"> Quiz answer is required.</p>
                                </div>
                                    </label>
                                </div>
                                       <!-- TODO: make radio button selection required input -->
                            </div>
                        </div>

                        <div class="form-group" show-errors>
                            <label class="col-sm-2 col-sm-2 control-label">Quiz Duration</label>
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-primary" style="width:200px" ng-click="showDuration = true" name="durationOption" id="durationOption">Pick a quiz duration</button>
                                <button type="button" class="btn btn-primary" style="width:200px" ng-click="showDuration = false" name="durationOption" id="durationOption">Manually end quiz</button>
                            </div>
                            <hr>
                            <div ng-show="showDuration">
                                <label class="col-sm-4 col-sm-4 control-label" >Please select a desired quiz duration</label>
                                <div class="col-sm-8">
                                    <label class="radio-inline" for="quizMin">Select Minute
                                        <select ng-model="inputMin" data-ng-options="min for min in quizMin" name="quizMin" id="quizMin">
                                             <option value="">-- choose minute --</option>
                                        </select>
                                    </label>
                                    <label  class="radio-inline" for="quizSec">Select Second
                                        <select ng-model="inputSec" data-ng-options="sec for sec in quizSec" name="quizSec" id="quizSec">
                                            <option value="">-- choose second --</option>
                                        </select>
                                    </label>
                                 </div>
                                 <!-- TODO: make this a slider later -->
                               </div>
                            </div>
                             <div ng-show="error" class="text-center text-danger">
                                    <strong ng-bind="error"></strong>
                            </div>
                        <div class="form-group">
                            <div class="col-sm-12 text-center">
                                <button type="submit2" class="btn btn-theme btn-lg">
                                    <i class="fa fa-check"></i> submit
                                </button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div><!-- col-lg-12-->
    </div><!-- /row -->
</section>
