<!-- this view is for student taking quiz -->
<section ng-controller="SubmitQuizController" ng-init="findOne()">
    <div class="col-lg-12 mt">
        <div class="row content-panel">
            <div class="page-header centered">
                <h1 ng-bind="quiz.title"></h1>
            </div>
            <div class="col-lg-10 col-lg-offset-1">
               taking quiz now.....


              <div class="form-group">
                <div ng-repeat="choice in quiz.choices">
                  <button ng-click="submit(choice.letter)">{{choice.letter}}. {{choice.description}}</button>
                </div>
              </div>


              </button>
            </div>
        </div>
    </div>
</section>
