<!-- this view is for student taking quiz -->
<section ng-controller="QuizzesController" ng-init="findOne()">
    <div class="col-lg-12 mt">
        <div class="row content-panel">
            <div class="green-panel">
                <div class="green-header">
                    <h5 ng-bind="quiz.title"></h5>
                </div>
            </div>
            <div class="row col-lg-12 mt" ng-show="!isStudent()" ng-init="findOne()">
                 <a class="btn btn-lg btn-theme02 pull-right" ui-sref="quizzes.statistics({quizId:quiz._id})" >view statistic</a>
                 <button type="submit" class="btn btn-theme btn-lg pull-right" ng-click="setQuizStart()">
                          <i class="fa fa-check"></i> Open the quiz
                        </button>
                   <button type="submit" class="btn btn-theme btn-lg pull-right" ng-click="setQuizFinished()">
                          <i class="fa fa-check"></i> End the quiz
                        </button>
            </div>
            <div class="col-lg-10 col-lg-offset-1" ng-show="quiz.quizOpen">
                <p class="mt">
                    <h3> {{quiz.question}} </h3>
                </p>
                <hr>
                <div class="steps" >
                    <div class = "col-md-4 col-sm-4 mb " ng-repeat="choice in quiz.choices">
                        <!-- <input type="checkbox" id="op" ng-model="choice.letter" ng-changed="letterChoose(choice.letter)">   -->
                          <div class="radio">
                          <label>
                         <!--  <input type="checkbox" data-checklist-model="choice.letter" data-checklist-value="choice.letter" >  -->
                         <input class="check" type="radio" ng-model="$parent.choice.letter" value="{{choice.letter}}" >
                      
                          <span class="label-text">{{choice.letter}}. {{choice.description}}</span></label>
                        </div>
                      </div>
                  
                </div>
            </div>
            <div class="col-lg-10 col-lg-offset-1 main-chart">
                      <!--CUSTOM CHART START -->
                      <hr>
                <div class="border-head">
                    <h3>result total submission: {{quiz.totalParticipant}}<h3>
                </div>
    
      
                    <div class="custom-bar-chart">
                        <ul class="y-axis">
                            <li><span>5</span></li>
                            <li><span>4</span></li>
                            <li><span>3</span></li>
                            <li><span>2</span></li>
                            <li><span>1</span></li>
                            <li><span>0</span></li>
                        </ul>
                        <div class="bar" ng-repeat="choice in quiz.choices">
                              <div class="title" value="{{choice.letter}}" >{{choice.letter}}</div>
                              <div class="value tooltips" data-original-title="8.500" data-toggle="tooltip" data-placement="top" ng-init="figureOutChoicesNum(quiz)">{{numChoiceQuiz[choice.letter]}}%</div>
                        </div>
                    </div>
                          <!--custom chart end-->

                  <canvas ng-show="!quiz.quizOpen" id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" ng-init="figureoutchoice1(choice)"> chart-series="series"
                  </canvas>
            </div><!-- /row --> 
            
                <br>
                <br>


            
        </div>
    </div>
</section>
