<!-- this view is for student taking quiz -->
<section ng-controller="SubmitQuizController" ng-init="findOne()">
    <div class="col-lg-12 mt">
        <div class="row content-panel">
            <div class="page-header centered">
                <h1 ng-bind="quiz.title"></h1>
            </div>
            <div class="col-lg-10 col-lg-offset-1">
               taking quiz now.....


              <button ng-click="submit('A')">
                I select A! :3


              </button>
            </div>
        </div>
    </div>
</section>
