<section ng-controller="QuizzesController" ng-init="findOne()">
  <div class="col-lg-12 mt">
    <div class="row content-panel mb">
      <div class="page-header centered">
        <h1 ng-bind="quiz.title"></h1>
        <small>
          <em class="text-muted">
            Create by
            <span ng-bind="quiz.created | date:'mediumDate'"></span>
            by
            <span ng-bind="quiz.user.displayName"></span>
          </em>
        </small>
      </div>
      <div class="col-lg-12 main-chart">
        <h3 class="checkbox-inline"> <i class="fa fa-angle-right"></i> Selected Answer </h3>
        <h3 class="pull-right"> Average Score is {{average[0]}}</h3>
        <hr>
        <div class="col-lg-10 col-lg-offset-1 main-chart">
          <!--old chart bar cannot be deleted! -->

          <div class="custom-bar-chart">
            <ul class="y-axis">
              <li><span>5</span></li>
              <li><span>4</span></li>
              <li><span>3</span></li>
              <li><span>2</span></li>
              <li><span>1</span></li>
              <li><span>0</span></li>
            </ul>
            <div class="bar" ng-repeat="choice in quiz.choices">
              <div class="title" value="{{choice.letter}}" >{{choice.letter}}</div>
              <div class="value tooltips" data-original-title="8.500" data-toggle="tooltip" data-placement="top" ng-init="figureOutChoicesNum(quiz)">{{numChoiceQuiz[choice.letter]}}%</div>
            </div>
          </div>
          <!--custom chart end-->

          <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-legend="true"  chart-series="series" ng-init="figureoutchoice1(choice)">
          </canvas>
        </div><!-- /row -->
      </div>
      <br><br>

      <script src="https://rawgithub.com/eligrey/FileSaver.js/master/FileSaver.js" type="text/javascript"></script>

      <div class="col-lg-12 main-chart" >
        <h3> <i class="fa fa-angle-right"></i> Score Table {{quiz.scores.student._id}}</h3>
        <hr>
        <!-- Students' scores table -->
        <table class="table table-hover table-striped" id="tableToExport">
          <thread>
            <tr>
              <th>#</th>
              <th>last Name</th>
              <th>first Name</th>
              <th>Score</th>
            </tr>
          </thread>
          <tbody ng-repeat="score in quiz.scores">
          <tr>
            <td>{{$index+1}}</td>
            <td>{{score.student.lastName}}</td>
            <td>{{score.student.firstName}}</td>
            <td>{{score.quizScore}}</td>
          </tr>
          </tbody>
        </table>

      </div>
      <!-- END Students' scores table -->

      <div class="col-lg-12 main-chart " style="margin-bottom: 30px;">
        <a type="button" class="btn btn-theme03 btn-lg chat-tools" href="http://localhost:3000/courses/{{quiz.courseID}}" style="width:150px" ><i class="fa fa-reply"></i> back</a>
        <button type="button" class="btn btn-theme04 btn-lg chat-tools" ng-click="exportToExcel()" style="width:150px" >export to file</button>
      </div>
    </div>


  </div>
  </div>
</section>
