<!-- this view is for professor review -->
<section ng-controller="QuizzesController" ng-init="findOne()">
    <div class="col-lg-12 mt">
        <div class="row content-panel">
            <div class="page-header centered">
                <h1 ng-bind="quiz.title"></h1>
                <small>
                    <em class="text-muted">
                        Create by
                        <span ng-bind="quiz.created | date:'mediumDate'"></span>
                        by
                        <span ng-bind="quiz.user.displayName"></span>
                    </em>
                </small>
            </div>
            <div class="col-lg-10 col-lg-offset-1">
                <div class="invoice-body">
                    <h2>Quiz Status</h2>
                    <p>Is open: {{quiz.quizOpen}}</p>
                    <p>Is finished: {{quiz.quizEnded}}</p>


                    <h2>Class Info</h2>
                    <p>{{courseDisplayInfo.number}}</p>
                    <p>{{courseDisplayInfo.name}}</p>

                    <h2>Quiz Question</h2>
                    <p>{{quiz.question}}</p>

                    <h2>choices</h2>
                    <div ng-repeat="choice in quiz.choices">
                      <p>{{choice.letter}}  {{choice.description}}</p>
                    </div>

                    <h2>Correct answer</h2>
                    <p>{{quiz.correctAnswer}}</p>

                    <h2>Quiz Duration</h2>
                    <p>{{quiz.quizDuration}} milliseconds</p>


                    <!-- test button -->
                    <div class="form-group">
                      <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-theme btn-lg" ng-click="setQuizFinished()">
                          <i class="fa fa-check"></i> End the quiz
                        </button>
                      </div>
                    </div>

                    <!-- test button -->
                    <!-- TODO: move this to list view -->
                    <div class="form-group">
                      <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-theme btn-lg" ng-click="setQuizStart()">
                          <i class="fa fa-check"></i> Open the quiz
                        </button>
                      </div>
                    </div>



                    <div class="pull-right" ng-show="!isStudent()">
                      <a class="btn btn-primary" ui-sref="quizzes.edit({quizId: quiz._id})">
                        <i class="glyphicon glyphicon-edit"></i>
                      </a>
                      <a class="btn btn-primary" ng-click="remove();">
                        <i class="glyphicon glyphicon-trash"></i>
                      </a>
                    </div>
                    
                    <p class="lead" ng-bind="quiz.content"></p>
                </div>
            </div>
        </div>
    </div>
</section>
