<section ng-controller="CoursesController">
   <div class="modal-header">
        <h3 class="modal-title">Edit {{course.number}} {{course.name}}</h3>
    </div>
    <div class="modal-body">
        <fieldset>
            <div data-ng-show="error" class="text-center text-danger">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <strong data-ng-bind="error"></strong>
                </div>íí
            </div> 
            <div class="form-group">
                <label for="number">Number</label>
                <div class="controls">
                    <input type="text" data-ng-model="course.number" id="number" class="form-control" placeholder="e.g. COP4331" required>
                </div>
             </div>
            <!-- div class="form-group" show-errors>
                    <label for="number">Number</label>
                    <input name="number" type="text" ng-model="course.number" id="number" class="form-control" placeholder="e.g. COP4331" required>
            </div> -->
            <div class="form-group">
                <label for="name">Name</label>
                <div class="controls">
                    <input type="text" data-ng-model="course.name" id="name" class="form-control" placeholder="e.g. Object Oriented Programming" required>
                </div>
            </div>

<!--                 <div class="form-group" show-errors>
                    <label for="name">Course Name</label>
                     <div class="controls">
                        <input type="text" data-ng-model="course.name" id="name" class="form-control" placeholder="Name">
                    <input name="name" type="text" ng-model="course.name" id="name" class="form-control" placeholder="e.g. Object Oriented Programming" required>
                    </div>
                </div> -->
                <div class="form-group">
                    <label for="passcode">Course Passcode</label>
                    <input name="passcode" ng-model="course.passcode" id="passcode" class="form-control" placeholder="Create a course passcode"></input>
                </div>
                <div class="form-group" >
                    <label for="startdate">Semester & year</label>
                    <div class="row">
                        <div class="col-md-4">
                        
        
                        Choose a semester: <select ng-model="course.semester" data-ng-options="act for act in semesters"></select>
                    <!-- {{years[0]}} is currently -->
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                                  Choose a year: <select ng-model="course.year"
                                          data-ng-options="act for act in years"></select>
                        </div>
                    </div>       
                </div>
                <div class="form-group" ng-init="isActive(course)">
                    <div class="row">
                        <div class="col-md-2">                 
                            <label>course is now </label>  
                        </div>
                        <div class="col-md-2">  
                            <div ng-bind="checkActivation" style="color:blue;"></div>                        
                        </div>
                        <div class="col-md-4">                           
                        </div>
                        <div class="col-md-4">
                            change activation status: <input type="checkbox" ng-model="course.active" > {{course.active}}
                        </div>

        
                    <!-- <div class="pull-right" style="text-size">
                       change activation status: <input type="checkbox" ng-model="course.active" > {{course.active}} -->
                    
                
                  
                 <!--  <tt>value1 = {{course.active}}</tt><br/> -->
                    </div>
                </div>
                </div>
            </fieldset>       
     
  </div>
  <div class="modal-footer">
        <button id="ok" class="btn btn-success" ng-click="update(course); ok()">Update</button>
        <button id="cancel" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</section>
