<section data-ng-controller="CoursesController" >
 <!--    <div class="form-group">
        <div class="alert alert-success text-center" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> 
            <span>Ready to join {{course.number}} {{course.name}} </span>
        </div>
        <div class="text-center form-group">
            <b>Please enter passcode:</b>
        </div> 
        <input type="text" ng-model="passcode" class="form-control" placeholder="  passcode" required>
    </div>
    <div class="text-center form-group">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-success" ng-click="joinCourse(course._id); ok()">Join</button>
    </div> -->

    
        <div class="modal-content">
             <form name="userForm" novalidate autocomplete="off">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true" ng-click="cancel()">×</button>
                    <h4 class="modal-title">{{course.number}} {{course.name}}</h4>
                </div>
                <div class="modal-body" >
                    <p>Please enter passcode:</p>
                    <div class="form-group"  ng-class="{true: 'error'}">
                        <input type="passcode" name="passcode" ng-model="passcode" placeholder="passcode" autocomplete="off" class="form-control placeholder-no-fix"required>
                        <!-- <div ng-messages="userForm.passcode.$error" ng-show="submit"role="alert">
                            <p class="help-block error-text"  required >Password is required.</p>
                        </div> -->
                        <alert type="danger" ng-show="error" class="text-center text-danger">
                          <span ng-bind="error"></span>
                        </alert>
                    </div>
            
                </div>
                <div class="modal-footer">
               <!--  <div class="modal-footer"> -->
                    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
                    <button class="btn btn-theme" type="button" ng-click="joinCourse(course._id); ok()"  ng-disabled="userForm.passcode.$invalid">Join</button>
                  <!--   <div ng-if="!error" ng-class="ok()"></div> -->
                 <!--  <div ng-class="!error ? ok() : 'haha'"> -->
                </div>
        </div>
  
</section>