<section ng-controller="CoursesController" ng-init="find()"> 
  <div class="page-header">
    <h1>Courses</h1>
  </div>
  <div class="list-group">
    <input type="text" ng-model="keyword" placeholder="search a course" />
    <label>Search Course</label>
    <a ng-repeat="course in courses | filter:keyword" ui-sref="courses.view({courseId: course._id})" class="list-group-item"> <!-- may need to take care of searching for passcode -->
      <small class="list-group-item-text">
        Created on
        <span ng-bind="course.created | date:'mediumDate'"></span>
        by Professor 
        <span ng-bind="course.professor.displayName"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="course.number"></h4>
      <p class="list-group-item-text" ng-bind="course.name"></p>
      <p class="list-group-item-text" ng-bind="course.professor.displayName"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="courses.$resolved && !courses.length">
    No courses yet, why don't you <a ui-sref="courses.create">create one</a>?
  </div>
</section>
