<section ng-controller="CoursesController" ng-init="findOne()">
<!--     <div class="row mt">
        <div class="col-lg-12">
            <div class="form-panel">
                <div class="chat-room-head">
                    <div class="row">
                        <div class="col-md-9">
                            <h2 class="title"> {{course.number}} {{course.name}} </h2>
                            <p class="meta">
                                create by professor <b>{{course.professor.displayName}}</b> on <span ng-bind="course.created | date:'mediumDate'"></span>
                            </p>
                        </div>
                        <div class="col-md-3">
                           <br><br>
                            <p class="lead">{{course.semester}} {{course.year}} </p>
                        </div>
                    </div>
                </div> -->
    <div class="row mt">
        <div class="col-lg-12">
            <div class="form-panel">
                <header >
                    <div class="row">
                        <div class="col-md-9">
                            <h2 class="title"> {{course.number}} {{course.name}} </h2>
                            <p class="meta">
                                create by professor <b>{{course.professor.displayName}}</b> on <span ng-bind="course.created | date:'mediumDate'"></span>
                            </p>
                        </div>
                        <div class="col-md-3">
                           <br><br>
                            <p class="lead">{{course.semester}} {{course.year}}</p>
                        </div>
                    </div>
                </header>
                <hr>
                <div class="col-lg-9 main-chart" >
                    <div class="row ">
                        <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
                            <div class="box1">
                                <span class="li_user"></span>

                                    <h3>{{course.enrolledStudents.length}}</h3>
                            </div>
                              <p>{{course.enrolledStudents.length}} students in this class</p>
                        </div>
                        <div class="col-md-2 col-sm-2 box0">

                            <div class="box1">
                                <span class="li_note"></span>
                                <h3>{{quizzesInCourse.length}}</h3>
                           </div>
                                <p>totally {{quizzesInCourse.length}} quizzes created</p>
                        </div>
                        <div class="col-md-2 col-sm-2 box0" ng-show="isStudent()" ng-init="findQuizTaken()">
                            <div class="box1">
                                <span class="li_pen"></span>
                                 <h3>{{quizTaken}}</h3>
                            </div>
                            <p>You've taken {{quizTaken}} quizzes</p>
                        </div>
                        <div class="col-md-2 col-sm-2 box0">
                            <div class="box1">
                                <span class="li_star"></span>

                                <h3>80%</h3>
                            </div>

                              <p> average grade in this course is 80% </p>
                        </div>
                        <div class="col-md-2 col-sm-2 box0" ng-show="isStudent()">
                            <div class="box1">
                                <span class="li_heart"></span>
                                <h3>90%</h3>
                            </div>
                            <p>you have 90% of the grade in this course</p>
                        </div>
                    </div><!-- /row mt -->
                </div>
                <div class="col-md-3">
                    <p class="lead" ng-show="isAdmin()">Passcode: {{course.passcode}} </p>
                    <p class="lead" ng-show="isCourseCreated(course._id)">Passcode: {{course.passcode}}</p>
                    <button type="button" class="btn btn-theme" ng-show="isCourseCreated(course._id) || isAdmin()" ng-controller="CoursesListController" data-ng-click="modalUpdate('lg', course)"><i class="fa fa-edit"></i></button>
                    <button type="button" class="btn btn-theme" ng-show="isAdmin()" ng-click="remove();"><i class="fa fa-trash-o"></i></button>
                    <button type="button" class="btn btn-theme02 " ui-sref="quizzes.create" ng-show="!isStudent()">+ create Quiz</button>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2> Quizzes </h2>
                        <hr>
                <!--value of course._id does not pass to the function figureOutQuizToDisplay-->
                        <div class="list-group" ng-init="figureOutQuizToDisplay()" >
                   <!--  {{course._id}}
 -->                        <div class="col-lg-12 col-md-12 col-sm-12 mb" ng-repeat="quiz in quizzesInCourse " >
                                <div class="pn" >
                                    <a ng-show="!isStudent()" ui-sref="quizzes.profopen({quizId: quiz._id})" class="list-group-item">

                                        Posted on
                                        <span ng-bind="quiz.created | date:'mediumDate'"></span>
                                        by
                                        <span ng-bind="quiz.user.displayName"></span>

                                        <h4 class="list-group-item-heading" ng-bind="quiz.title"></h4>
                                        <p class="list-group-item-text" ng-bind="quiz.content"></p>

                                    </a>
                                    <a ng-show="isStudent()" ng-controller="QuizzesController" ng-click="isOpen(quiz)" class="list-group-item">
                                    <!-- <a ng-show="isStudent()" ng-controller="DashboardController" ng-click="isOpen(quiz, quiz._id)" class="list-group-item"> -->

                                        Posted on
                                        <span ng-bind="quiz.created | date:'mediumDate'"></span>
                                        by
                                        <span ng-bind="quiz.user.displayName"></span>

                                        <h4 class="list-group-item-heading" ng-bind="quiz.title"></h4>
                                        <p class="list-group-item-text" ng-bind="quiz.content"></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- col-lg-12 -->
                </div><!-- row-->
            </div><!--form-panel -->
        </div> <!-- col-lg-12 -->
    </div><!-- /row -->
</section>
