<section ng-controller="CoursesController" ng-init="findOne()">
  <div class="page-header">
      <span style="font-size:3em" ng-bind="course.number"></span>
      <span style="font-size:1.5em; font-style: italic;"> {{course.semester}} {{course.year}} </span>

    </div>

  </div>
  <div class="row" >
     <div class="col-md-8">
        <small>
          <em class="text-muted">
            Created on
            <span ng-bind="course.created | date:'mediumDate'"></span>
            by Professor
            <span ng-bind="course.professor.displayName"></span>
          </em>
        </small>
        <p class="lead" ng-bind="course.name"></p>
        <p class="lead" ng-bind="course.professor.displayName"></p>
      <p class="lead" ng-bind="course._id"></p>

        <!-- only admin or professor who created the course be able to see passcode -->
        <p class="lead" ng-bind="course.passcode" ng-show="isAdmin()"></p>
        <p class="lead" ng-bind="course.passcode" ng-show="isCourseCreated(course._id)"></p>

      </div>
    <!--
    <div class="col-md-4" text-center ng-show="isStudent()">
      <div class="col-md-6">
         <input type="text" ng-model="passcode" class="form-control" placeholder="enter class passcode" ng-show="!isCourseEnrolled(course._id)" required>
      </div>
       <div class="col-md-6">
          <a class="btn btn-primary" ng-click="joinCourse(course._id)" ng-show="!isCourseEnrolled(course._id)">
            <i class="glyphicon glyphicon-plus"></i>
          </a>
        </div>
    </div>
    -->
    <!-- TODO: make passcode field required and display message to user if nothing entered -->

    <div class="col-md-4" text-center ng-show="isAdmin()">
          <a class="btn btn-primary" ui-sref="courses.edit({courseId: course._id})">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn btn-primary" ng-click="remove();" ng-show="isAdmin()">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
    </div>
     <!-- only admin or professor who created the course be able to edit course -->
    <div class="col-md-4" text-center ng-show="isCourseCreated(course._id)">
          <a class="btn btn-primary" ui-sref="courses.edit({courseId: course._id})">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
    </div>
  </div>

  <div>
    <a class="btn btn-primary" ui-sref="quizzes.create" ng-show="!isStudent()">
      <i class="glyphicon glyphicon-plus">CreateQuiz</i>
    </a>
  </div>

  <div class="row">
        <div class="col-md-12">
            <h2> Quizzes </h2>
            <hr>
                <!--value of course._id does not pass to the function figureOutQuizToDisplay-->
                <div class="list-group" ng-init="figureOutQuizToDisplay()" >
                   <!--  {{course._id}}
 -->                     <div class="col-lg-12 col-md-12 col-sm-12 mb" ng-repeat="quiz in quizzesInCourse " >
                        <div class="pn" >
                           <a ui-sref="quizzes.view({quizId: quiz._id})" class="list-group-item">

                                Posted on
                                <span ng-bind="quiz.created | date:'mediumDate'"></span>
                                by
                                <span ng-bind="quiz.user.displayName"></span>

                              <h4 class="list-group-item-heading" ng-bind="quiz.title"></h4>
                              <p class="list-group-item-text" ng-bind="quiz.content"></p>
                            </a>
                        </div>
                    </div>
                </div>

        </div>
    </div>


  </section>

</section>
