<section ng-controller="DashboardController" ng-init="createdCourseList()">
    <div class="page-header">
        <h1> Professor Dashboard</h1>
    </div>
    <div class="row">
	    <div class="col-lg-6" >
        <p class="lead text-center">
            My Course (active course)
        </p>
        <div class="list-group">
            <a ng-repeat="course in courses | filter:{active: true}" ng-init="findNumStudentEnrolled(course._id)"  class="list-group-item"> 
               <!--  <small class="list-group-item-text">
                        Created on
                    <span ng-bind="course.created | date:'mediumDate'"></span>
                        by Professor
                    <span ng-bind="course.professor.displayName"></span>
                </small></br> -->
                     {{course.semester}} {{course.year}} 
                    <h4> {{course.number}} {{course.name}} </h4>
                   
                    Number of students: {{numStudentInCourse[course._id]}}

            </a>
        </div>
    </div>
    <div class="col-lg-6 text-center" >
         <a class="btn btn-primary btn-lg" href="../courses/create">create course</a>
    </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <p class="lead">inactive course</p>
            <div class="list-group">
                <a ng-repeat="course in courses | filter:{active: false}" ng-init="findNumStudentEnrolled(course._id)"  class="list-group-item"> 
               <!--  <small class="list-group-item-text">
                        Created on
                    <span ng-bind="course.created | date:'mediumDate'"></span>
                        by Professor
                    <span ng-bind="course.professor.displayName"></span>
                </small></br> -->
                     {{course.semester}} {{course.year}} 
                    <h4> {{course.number}} {{course.name}} </h4>
                   
                    Number of students: {{numStudentInCourse[course._id]}}

                </a>
            </div>
        </div>
    </div>
</section>
