<section ng-controller="DashboardController" ng-init="findEnrolledCourses()">
    <div class="row mt">
        <div class="col-lg-12">
            <div class="form-panel">
                <div class="chat-room-head">
                    <h3> Student Dashboard</h3>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label class="lead ">
                               Enrolled Courses
                            </label>
                        <div class="list-group">
                            <div class="col-lg-12 col-md-12 col-sm-12 mb" ng-repeat="course in enrolledCourses" >
                                <div class="pn" >
                                    <a ng-controller="CoursesController" ng-init="getNumQuiz()" ui-sref="courses.view({courseId: course._id})" class="list-group-item">
                                        <small class="list-group-item-text">
                                            Created on
                                            <span ng-bind="$parent.course.created | date:'mediumDate'"></span>
                                            by Professor
                                            <span ng-bind="$parent.course.professor.displayName"></span>
                                        </small>
                                        <h4 class="list-group-item-heading" ng-bind="$parent.course.number"></h4>
                                        <p class="list-group-item-text" ng-bind="$parent.course.name"></p>
                                        <p class="list-group-item-text" ng-bind="$parent.course.professor.displayName"></p>
                                        Number of quizzes: {{numQuizzesInCourse[course._id]}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- col-lg-12-->
    </div><!-- /row -->
</section>

 <!--  <div class="page-header">
    <h1>Courses</h1>
  </div>
  <div class="list-group">
      <label>Enrolled Courses</label>
      <div class="col-lg-12 col-md-12 col-sm-12 mb" ng-repeat="course in enrolledCourses" >
          <div class="pn" >
              <a ng-init="getNumQuiz(course._id)"ui-sref="courses.view({courseId: course._id})" class="list-group-item">
                <small class="list-group-item-text">
                  Created on
                  <span ng-bind="course.created | date:'mediumDate'"></span>
                  by Professor
                  <span ng-bind="course.professor.displayName"></span>
                </small>
                <h4 class="list-group-item-heading" ng-bind="course.number"></h4>
                <p class="list-group-item-text" ng-bind="course.name"></p>
                <p class="list-group-item-text" ng-bind="course.professor.displayName"></p>
                Number of quizzes: {{numQuizzesInCourse[course._id]}}
              </a>
          </div>
      </div>
  </div> -->

</section>

