<div ng-controller="AuthenticationController">


    <div id="login-page">
        <div class="container">
          
          <form class="form-login" name="userForm" ng-submit="signup(userForm.$valid)" class="signin" novalidate autocomplete="off">
            <h2 class="form-login-heading">sign up now</h2>
            <fieldset>
              <div class="login-wrap">
                  <div class="form-group" show-errors>
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" name="firstName" class="form-control" ng-model="credentials.firstName" placeholder="First Name" required>
                    <div ng-messages="userForm.firstName.$error" role="alert">
                      <!-- <p class="help-block error-text" ng-message="required">First name is required.</p> -->
                    </div>
                  </div>
                  <div class="form-group" show-errors>
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" name="lastName" class="form-control" ng-model="credentials.lastName" placeholder="Last Name" required>
                    <div ng-messages="userForm.lastName.$error" role="alert">
                    <!--   <p class="help-block error-text" ng-message="required">Last name is required.</p> -->
                    </div>
                  </div>
                  <div class="form-group" show-errors>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" ng-model="credentials.email" placeholder="Email" lowercase required>
                    <span class="help-block" align="right" style="font-size:10px">* UFL email address is required</span>
                    <div ng-messages="userForm.email.$error" role="alert">
                    <!--   <p class="help-block error-text" ng-message="required">Email address is required.</p> -->
                      <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
                    </div>
                    <!--
                        change files in server/models/user.server.model.js
                      -->
                  </div>
                  <!-- check if the user is student or professor -->
                  <div class="form-group">
                    <label for="role">I am a ...</label>
                    <form role="form" required>
                      <label class="radio-inline">
                        <input type="radio" name="optradio">Student
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="optradio">Professor
                      </label>
                    </form>
                  </div>

                  <div class="form-group" show-errors>
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Username" lowercase required>
                    <div ng-messages="userForm.username.$error" role="alert">
                      <!-- <p class="help-block error-text" ng-message="required">Username is required.</p> -->
                    </div>
                  </div>
                  <div class="form-group" show-errors>
                    <label for="password">Password</label>
                      <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" popover="{{popoverMsg}}" popover-trigger="focus" password-validator required>
                    <div ng-messages="userForm.password.$error" role="alert">
                      <!-- <p class="help-block error-text" ng-message="required">Password is required.</p> -->
                      <div ng-repeat="passwordError in passwordErrors">
                        <!-- <p class="help-block error-text" ng-show="userForm.password.$error.requirements">{{passwordError}}</p> -->
                      <!--
                        {popoverMsg} is written in client/services/users.client.service.js
                        also in users/client/controllers/authentication.client.controller.js
                      -->
                      </div>
                    </div>
                  </div>
                  <div class="form-group" ng-show="!userForm.password.$error.required">
                    <label>Password Requirements</label>
                    <progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></progressbar>
                  </div>
                  <div ng-show="error" class="text-center text-danger">
                    <strong ng-bind="error"></strong>
                  </div>
                  <div class="text-center form-group">
                    <button type="submit" class="btn btn-theme btn-block">Sign up</button>
                    <hr>
                    <div class="registration">
                    Already have an account?<br/>
                    <a ui-sref="authentication.signin">
                        Sign in
                    </a>
                  </div>
                </div>
                  
                </div>
            </fieldset>
          </form>
        </div>
    </div>




</div>
